html {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

nav a{
    text-align:center;
    color:#000;
    text-decoration:none;
    padding: 35px;

}
nav {
    display: flex;
    justify-content: space-around; 
}
#background {
    height:725px;
    background-color: #ffffff ;
    grid-column: 1/11;
    grid-row: 4/9;
}


/* Footer Section */
footer {
    background-color:#224870;
    color:#000;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color:#000;
    text-decoration:none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a:hover {
    color:#44CFCB;
}